<h2 id="dashboard-title" class="record-title">Dashboard</h2>

<div class="main-container">
  <a class="dashboard-links" href="/students-profile/views/students.view.php">
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined">
          groups_3
          </span>
        <h2>View Students</h2>
      </div>
    </div>
  </a>

  <a class="dashboard-links" href="/students-profile/views/town_view.php">
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined">
          home_pin
          </span>
        <h2>View Town | City</h2>
        
      </div>
    </div>
  </a>

  <a class="dashboard-links" href="/students-profile/views/province_view.php">
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined">
          things_to_do
          </span>
        <h2>View Provinces</h2>
        
      </div>
    </div>
  </a>

  <a class="dashboard-links" href="/students-profile/config/report_01.php">
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined">
          pie_chart
          </span>
        <h2>Report 01</h2>
        
      </div>
    </div>
  </a>

  <a class="dashboard-links" href="/students-profile/config/report_02.php">
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined">
          bar_chart
          </span>
        <h2>Report 02</h2>
        
      </div>
    </div>
  </a>

  <a class="dashboard-links" href="/students-profile/config/report_03.php">
    <div class="dashboard-card">
      <div class="card-content">
        <span class="material-symbols-outlined">
          donut_small
          </span>
          <h2>Report 03</h2>
        </div>
      </div>
    </div>
  </a>
